
<?php /*** NAVBAR ***/ ?>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scrollTo" href="#intro">{{ site_name }}</a>
        </div>
        <div class="navbar-collapse collapse" id="navigation">
            {% if page.navigation %}
              {{ page.navigation }}
          {% endif %}
      </div>
      <!--/.nav-collapse -->
  </div>
</div>
<!-- /#navbar -->
<?php /*** NAVBAR END ***/ ?>

<?php /*** Body starts ***/ ?>
<div id="all">
    <?php /*** INTRO IMAGE ***/ ?>
    <div id="intro" class="clearfix">
        {% if page.introduction %}
        	{{ page.introduction }}
        {% endif %}
    </div>
    <?php /*** INTRO IMAGE END ***/ ?>

    <?php /*** ABOUT ***/ ?>
    <div class="section" id="about">
        <div class="container">
            <div class="row">
                {% if page.about_me %}
                    {{ page.about_me }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /#about -->
    <?php /*** ABOUT END ***/ ?>

    <!-- *** REFERENCES IMAGE ***  -->
    <div class="section" id="references">
        <div class="container">
            <div class="col-sm-12">

                {% if page.mywork %}
                    {{ page.mywork }}
                {% endif %}

            </div>
        </div>
    </div>
    <!-- /.section -->

    <!-- *** REFERENCES END *** -->

    <?php /*** CONTACT ***/ ?>

    <div class="section contact" id="contact" data-animate="bounceIn">
        <div class="container">
            <div class="col-md-12">
                {% if page.contact %}
                    {{ page.contact }}
                {% endif %}
            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->
    <?php /*** CONTACT END ***/ ?>

    <!-- *** MAP *** -->

    <div class="section" id="map">
        {% if page.map %}
            {{ page.map }}
        {% endif %}
    </div>
    <!-- /.section -->

    <!-- *** MAP END *** -->

    <?php /*** FOOTER ***/ ?>

    <div class="section" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="social">
                        {% if page.social_share %}
                            {{ page.social_share }}
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>&copy; 2018 ashokshrestha@gmail.com All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->
    <?php /*** FOOTER END ***/ ?>



</div>
<!-- /#all -->
