{# --> NAVIGATION SECTION STARTS <-- #}
<section id="site-navigation">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if page.sitelogo %}
                    {{ page.sitelogo }}
                {% endif %}
            </div>

            <div class="navbar-collapse collapse" id="navigation">
                {% if page.navigation %}
                    {{ page.navigation }}
                {% endif %}
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</section>
{# --> NAVIGATION SECTION ENDS <-- #}


<div id="all">
    {# --> INTRO SECTION STARTS <-- #}
    <div id="intro" class="clearfix">
        {% if page.introduction %}
            {{ page.introduction }}
        {% endif %}
    </div>
    {# --> INTRO SECTION ENDS <-- #}


    {# --> ABOUT ME SECTION STARTS <-- #}
    <div class="section" id="about">
        <div class="container">
            <div class="row">
                {% if page.about_me %}
                    {{ page.about_me }}
                {% endif %}
            </div>
        </div>
    </div>
    {# --> ABOUT ME SECTION ENDS <-- #}


    {# --> SERVICES SECTION STARTS <-- #}
    <div class="section text-gradient" id="services">
        <div class="container">
            <div class="col-md-12">
                {% if page.services %}
                    {{ page.services }}
                {% endif %}
                
            </div>        
        </div>
    </div>
    {# --> SERVICES SECTION ENDS <-- #}


    {# --> TESTIMONIALS SECTION STARTS <-- #}
    <div class="section text-gray" id="testimonials" data-animate="fadeInUp">
        <div class="container">
            <div class="col-md-12">
                {% if page.testimonials %}
                    {{ page.testimonials }}
                {% endif %}
            </div>
        </div>
    </div>
    {# --> TESTIMONIALS SECTION ENDS <-- #}


    {# --> SHOWCASE SECTION STARTS <-- #}
    {% if page.showcase %}
        {{ page.showcase }}
    {% endif %}
    {# --> SHOWCASE SECTION ENDS <-- #}


    {# --> MYWORK SECTION STARTS <-- #}
    <div class="section" id="mywork">
        <div class="container">
            <div class="col-sm-12">
                {% if page.mywork %}
                    {{ page.mywork }}
                {% endif %}
            </div>
        </div>
    </div>
    {# --> MYWORK SECTION STARTS <-- #}

    
    {# --> CLIENT LIST SECTION STARTS <-- #}
    {% if page.clients %}
        {{ page.clients }}
    {% endif %}
    {# --> CLIENT LIST SECTION ENDS <-- #}


    {# --> CONTACT SECTION STARTS <-- #}
    <div class="section contact" id="contact" data-animate="bounceIn">
        <div class="container">
            <div class="col-md-12">
                {% if page.contact %}
                    {{ page.contact }}
                {% endif %}
            </div>
        </div>
    </div>
    {# --> CONTACT SECTION STARTS <-- #}


    {# --> MAP SECTION STARTS <-- #}
    <?php /*** Google Map START ***/ ?>
    <div class="section" id="map">
        {% if page.map %}
            {{ page.map }}
        {% endif %}
    </div>
    {# --> MAP SECTION ENDS <-- #}


    {# --> FOOTER SECTION STARTS <-- #}
    <div class="section" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="social">
                        {% if page.social_share %}
                            {{ page.social_share }}
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>&copy; {{ 'now' | date('Y') }} ashokshrestha.np@gmail.com all rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    {# --> FOOTER SECTION ENDS <-- #}

</div>    